<?php $this->headScript()->captureStart();?>
    $(document).ready(function() {
        $( "#tabs" ).tabs({spinner: ' <img src="/images/ajax-loader.gif" />'});
    });
<?php $this->headScript()->captureEnd();?>

<h2><?php echo $this->user['name']?> <small>Informações do usuário</small></h2>

<?php echo $this->showMessages()?>

<div id="tabs">
    <ul>
        <li><a href="<?php echo $this->url('users/user-personal', array('idu' => $this->user['id_user'])); ?>" aria-controls="personal">Pessoal  <i class="fa fa-cog fa-spin"></i></a></li>
        <li><a href="<?php echo $this->url('users/user-permission', array('idu' => $this->user['id_user'])); ?>" aria-controls="permissions">Permissões  <i class="fa fa-cog fa-spin"></i></a></li>
	    <li><a href="<?php echo $this->url('users/user-log', array('idu' => $this->user['id_user'])); ?>" aria-controls="log">Log  <i class="fa fa-cog fa-spin"></i></a></li>
    </ul>
</div>
