<?php if (!$this->isAjax):?>
    <h2>Usuário <?php echo $this->user['name']?> <small>Log</small></h2>

    <?php echo $this->showMessages()?>
<?php endif;?>

<?php if (count($this->log) == 0):?>
    <p>Nenhum log registrado</p>
<?php else:?>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Data</th>
			<th>Descrição</th>
			<th>Responsável</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($this->log as $l):?>
		<tr>
			<td><?php echo $l['id_log'];?></td>
			<td><?php echo $this->dateFormat(new DateTime($l['date']),IntlDateFormatter::MEDIUM, IntlDateFormatter::MEDIUM);?></td>
			<td valign="top"><?php echo $l['description']?> <small>(<?php echo $l['type']?>)</small>
        		<?php
        		    if ($l['type'] == 'cadastro.alteracao' && is_array($l['json'])) {
        		        foreach ($l['json'] as $c=>$v) {
        		            echo "<br/><b>$c</b>: $v";
        		        }

        		    } elseif ($l['type'] == 'cadastro.manual' && is_array($l['json'])) {
        		        foreach ($l['json'] as $c=>$v) {
        		            echo "<br/><b>$c</b>: $v";
        		        }

        		    } elseif ( in_array($l['type'], array('login', 'redefinir senha', 'cadastro.novo')) && is_array($l['json'])) {
        		        echo '<br/><b>IP</b>: ' . $l['json']['REMOTE_ADDR'];
        		        if (array_key_exists('senha', $l['json']) && array_key_exists('senha1', $l['json'])) {
        		            echo "<br/><b>Senhas</b>: '{$l['json']['senha']}' != '{$l['json']['senha1']}'";
        		        } elseif (array_key_exists('senha', $l['json'])) {
        		            echo "<br/><b>Nova senha</b>: {$l['json']['senha']}";
        		        }
        		        try {
            		        $browser = get_browser($l['json']['HTTP_USER_AGENT'], true);
            		        echo '<br/><b>Browser</b>: ' . $browser['browser'] . ' ' . $browser['version'];
        		        } catch(Exception $e) {
        		            echo '<br/><i>Browser não identificado</i>';
        		        }
        		       echo '<br/><small><a href="http://www.useragentstring.com/?uas=' . urlencode($l['json']['HTTP_USER_AGENT']) . '">'.$l['json']['HTTP_USER_AGENT'].'</a></small>';

					} elseif (!empty($l['json'])) {
					    echo \Zend\Debug\Debug::dump($l['json'], 'json', false);
					}
        		?>
        	</td>
			<td><?php echo $l['reference'];?></td>
		</tr>
	<?php endforeach;?>
</tbody>
<tfoot>
</table>
<?php endif;?>

<?php if (!$this->isAjax):?>
</div></div>
<?php endif;?>