<form method="post" id="frmUsuario" class="form-horizontal" enctype="multipart/form-data" action="<?php echo $this->url('users/user-personal', array('idu' => $this->user['id_user']));?>">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-3" for="active">Ativo</label>
            <div class="col-sm-2 checkbox">
                <?php if ($this->checkCanUpdate('active', $this->canUpdate)):?>
                <label>
                    <input name="active" id="active" type="checkbox" value="1" <?php echo ($this->user['active'] == 1) ? ' checked="checked"' : '';?> />
                    Sim
                </label>
                <?php else:?>
                    <?php echo ($this->user['active'] == 1) ? 'sim':'não'?>
                <?php endif;?>
            </div>

            <?php if ($this->getAccessControl()->isRoot()):?>
                <label class="control-label col-sm-2" for="name">Admin</label>
                <div class="col-sm-2 checkbox">
                    <?php if ($this->checkCanUpdate('user', $this->canUpdate)):?>
                        <label>
                            <input name="user" id="user" type="checkbox" value="1" <?php echo ($this->user['root'] ==1) ? ' checked="checked"' : '';?> />
                            Sim
                        </label>
                    <?php else:?>
                        <?php echo ($this->user['root']) ? 'sim':'não'?>
                    <?php endif;?>
                </div>
                <label class="control-label col-sm-1" for="id_user">ID</label>
                <div class="col-sm-2 checkbox">#<?php echo $this->user['id_user']?></div>
            <?php endif;?>

        </div>

        <?php if ($this->checkCanUpdate('name', $this->canUpdate)):?>
            <div class="form-group">
                <label class="control-label col-sm-3" for="name">Nome</label>
                <div class="col-sm-9">
                    <input name="name" id="name" type="text" class="form-control" value="<?php echo $this->user['name']?>" size="40" required/>
                </div>
            </div>
        <?php endif;?>

        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Email</label>
            <div class="col-sm-9">
                <?php if ($this->checkCanUpdate('email', $this->canUpdate)):?>
                    <input name="email" id="email" type="email" class="form-control" value="<?php echo $this->user['email']?>" size="40" required />
                <?php else:?>
                    <?php echo $this->user['email']?>
                <?php endif;?>
            </div>
        </div>

        <?php if ($this->checkCanUpdate('password', $this->canUpdate)):?>
            <div class="form-group">
                <label class="control-label col-sm-3" for="password">Senha Temporária*</label>
                <div class="col-sm-9">
                    <input name="password" id="password" type="password" class="form-control" value="" autocomplete="off" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="password1">Confirma a senha*</label>
                <div class="col-sm-9">
                    <input name="password1" id="password1" type="password" class="form-control" value="" autocomplete="off" />
                    <p class="help-block">* Preencha somente se desejar criar uma nova senha para o usuário.
                        <?php if (\MkUser\Model\User\Service::VALIDARSENHA) : ?>
                            Ele terá que criar uma nova senha no próximo login.
                        <?php endif;?>
                    </p>
                </div>
            </div>

             <?php if ($this->getAccessControl()->isRoot()):?>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div  class="checkbox">
                            <label>
                                <input name="recriar_password" id="recriar_password" type="checkbox" value="1" /> Alterar senha no próximo login
                                Sim
                             </label>
                         </div>
                    </div>
                </div>
            <?php endif;?>

        <?php endif;?>

         <?php if ($this->checkCanUpdate('update', $this->canUpdate)):?>
             <div class="form-group">
                 <div class="col-sm-offset-3">
                     <button class="btn btn-primary" type="submit">Salvar</button>
                 </div>
            </div>
        <?php endif;?>
    </div>
</form>