<p>Para iniciar o processo de redefinição de senha da sua Conta do Universidade Corporativa <?php echo $this->email;?>, clique no link abaixo:</p>

<p>http://universidade.bffc.com.br/login/redefinir/c/<?php echo $this->codigo;?></p>

<p>Se o link não funcionar, copie e cole o URL em uma nova janela do navegador.</p>

<p>Caso tenha recebido esse e-mail por engano, provavelmente outro usuário inseriu seu endereço de e-mail ao tentar redefinir uma senha. Caso não tenha feito a solicitação, você não precisa tomar nenhuma ação e pode desconsiderar este e-mail com segurança.</p>

<p>Se você tiver alguma dúvida sobre sua conta, entre em contato com o seu gerente.</p>

<p></p>

<p>Este e-mail foi enviado automaticamente. Não responda a esta mensagem.</p>
