<?php $this->headScript()->captureStart();?>
    /*
    $(document).ready(function() {
        $("#frmEsqueci").validate({
           rules: {
                'email'  : {
                        required : true,
                        email    : true
                    }
            },
            messages: {
                'email'  : {
                    required :'Você deve informar o seu email',
                    email: 'Você deve informar um email válido'
                }
            }
        });
    });
    */
<?php $this->headScript()->captureEnd();?>
<main class="row" role="main">
    <div class="col-sm-6 col-sm-offset-3">
        <?php echo $this->showMessages()?>
        <form action="" id="frmEsqueci" class="form-horizontal" method="post" role="form">
            <fieldset>
                <legend>Recuperar Senha</legend>
            </fieldset>
            <?php if ($this->enviado === false):?>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="user">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="email" name="email" placeholder="email" value="<?php echo $this->email;?>" required type="text">
                    </div>
                </div>
                <?php if ($this->showCaptcha):?>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <?php echo $this->recaptcha->getHtml();?><br />
                        </div>
                    </div>
                <?php endif;?>
                <div class="form-group">
                    <div class="col-xs-8 col-xs-offset-3">
                        <ul id="errors"></ul>
                    </div>
                </div>
				<div class="form-group">
				    <div class="col-sm-offset-3 col-sm-5">
						<input type="submit" value="OK" class="btn btn-primary" />
			        </div>
		        </div>
            <?php else:?>
                <div class="row">
                    <div class="form-group col-sm-8 col-sm-offset-2">
                        <legend>O sua senha foi alterada com sucesso para o seu email.</legend>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="<?php echo $this->url('login'); ?>">Faça o seu login agora</a>
                    </div>
                </div>
            <?php endif;?>
        </form>
    </div>
</main>