<?php $this->headScript()->captureStart();?>
    $(document).ready(function() {
        $("#frmLogin").validate({
           rules: {
                'email'  : {
                        required : true,
                        email    : true
                    },
                'password'  : {required : true }
            },
            messages: {
                'email'  : {
                    required :'Você deve informar o seu email',
                    email: 'Você deve informar um email válido'
                },
                'password'  : {
                    required: 'Você deve criar uma senha'
                },
            }
        });
    });
<?php $this->headScript()->captureEnd();?>
<main class="row" role="main">
    <div class="col-sm-6 col-sm-offset-3">
        <?php echo $this->showMessages()?>
        <form action="<?php echo $this->url('login');?>" class="form-horizontal" method="post" role="form">
            <fieldset>
                <legend>Login</legend>
            </fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="user">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" id="email" name="email" placeholder="email" value="<?php echo $this->email;?>" required type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="password">Senha</label>
                <div class="col-sm-8">
                    <input class="form-control" id="password" name="password" placeholder="senha" required type="password">
                </div>
            </div>
            <?php if ($this->showCaptcha):?>
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <?php echo $this->recaptcha->getHtml();?><br />
                    </div>
                </div>
            <?php endif;?>
            <div class="form-group">
                <div class="col-xs-8 col-xs-offset-3">
                    <ul id="errors"></ul>
                </div>
            </div>
			<div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <a href="<?php echo $this->url('login/esqueci');?>">Esqueceu a senha?</a>
                </div>
                <div class="form-group col-sm-3">
                    <input type="submit" value="OK" class="btn btn-primary" />
                </div>
	        </div>
        </form>
    </div>
</main>