<?php $this->headScript()->captureStart();?>
$(document).ready(function(){

});
<?php $this->headScript()->captureEnd();?>

<h2>Usuários</h2>

<?php echo $this->showMessages()?>

<div class="table-responsive">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th></th>
			    <th>Ativo?</th>
			    <th>Root?</th>
			    <th>Beta?</th>
			    <th>Usuário</th>
			    <th>E-mail</th>
			    <th>Último Login</th>
			    <th>Recriar Senha</th>
		    </tr>
		</thead>
		<tbody>
			<?php foreach ($this->users as $u):?>
    			<tr>
    				<td>
    				    <?php echo "#{$u['id_user']}";?>
    		        </td>
    				<td align="center" <?php echo ($u['active'] == 1) ? 'class="success"><span class="fa fa-thumbs-o-up"></span' : 'class="danger"><span class="fa fa-thumbs-o-down"></span' ;?>>
    		        </td>
    				<td align="center" <?php echo ($u['root'] == 1) ? 'class="success"><span class="fa fa-thumbs-o-up"></span' : 'class="danger"><span class="fa fa-thumbs-o-down"></span' ;?>>
    		        </td>
    				<td align="center" <?php echo ($u['beta'] == 1) ? 'class="success"><span class="fa fa-thumbs-o-up"></span' : 'class="danger"><span class="fa fa-thumbs-o-down"></span' ;?>>
    		        </td>
    				<td>
    				    <a href="<?php echo $this->url('users/user', array('idu' => $u['id_user']) ); ?>"><i class="fa fa-user"></i> <?php echo $u['name'];?></a>
    			    </td>
    				<td>
    				    <a href="<?php echo $this->url('users/user', array('idu' => $u['id_user']) ); ?>"><?php echo $u['email'];?></a>
    			    </td>
    				<td>
    				    <?php echo (empty($u['last_login'])) ? 'nunca acessou' : $this->dateFormat(new DateTime($u['last_login']), IntlDateFormatter::MEDIUM, IntlDateFormatter::MEDIUM);?>
    			    </td>
    				<td align="center" <?php echo ($u['password_recreate'] == 1) ? 'class="success"><span class="fa fa-thumbs-o-up"></span' : 'class="danger"><span class="fa fa-thumbs-o-down"></span' ;?>>
    			    </td>
    			</tr>
			<?php endforeach;?>
		</tbody>
	</table>
</div>
